* {
    margin: 0;
    padding: 0;
}

header img{
 max-width: 60px;
 max-height: 60px;
}

header ul{
    gap: 30px;
}

.cor{
background-color: #00001f !important;
}

.item_ativo a{
    color: #87f1ff !important;
    font-weight: bold;

}

.item_menu a{
    color: #ffffff !important;
    font-weight: bold;

}

.item_menu a:hover{
    color: #e0feff !important;
}

.fim-rodape{
background-color: #00001f;
}

.acessibilidade-botoes {
  display: flex;
  gap: 30px !important;
}

.acessibilidade-botoes button{
    color: #fff;
    border: none;
    background: none;
    transition: 0.5s color;
}

.acessibilidade-botoes button:hover{
    color: #87f1ff;
}

html.monocromatico{
    filter: grayscale(100%);
}

.espaco-inicio{
    margin-top: 40px;
    padding-top: 30px !important;
}

.modo-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}